body{
	margin: 0;
	font-size: 0;
}
a{
	text-decoration-line: none;
}
tab{
	padding-left: 1.5em;
}
@keyframes pulsing{
		0%	{	transform: scale(1);	}
		25%	{	transform: scale(1.1);	}
		50%	{	transform: scale(1);	}
		75%	{	transform: scale(1.1);	}
		100%{	transform: scale(1);	}
}
#header-0{
	position: relative;
	background-color: #000;
	height: 50px;
	text-align: right;
	background-image: url(img/header.png);
	background-size: cover;
	background-position: 50% 54%;
	box-shadow:0 0 60px #000 inset;
}




#header{
	position: sticky;
	top: 0;
	height: 50px;
	background-color: #222;
	z-index: 100000;
}
#header .btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #ddd;
	font-family: font4;
	transition-duration: 200ms;
}
#header .btn:hover{
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}
#header .btn .menu{
	position: absolute;
	left: 0;
	top: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	border-radius: 5px;
	transition-duration: 200ms;
	transition-delay: 100ms;
	transition-property: transform top;
	transition-timing-function: cubic-bezier(.7,.42,.7,.42);
	transform: translateY(-50%) scaleY(0);
}
#header .btn:hover .menu{
	top: calc(100% + 5px);
	transform: translateY(0) scaleY(1);
}
#header .btn .menu .cover{
	position: absolute;
	left: 0;
	bottom: 100%;
	height: 5px;
	width: 100%;
}
#header .btn .menu-btn{
	color: #aaa;
	font-size: 20px;
}
#header .btn .menu-btn:hover{
	color: #fff;
}
#header .btn .arr{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#header .btn .arr::before{
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 12px;
	top: calc(50% - 1px);
	left: 0;
	background-color: #f00;
	transform: rotate(-45deg);
	transition-duration: 200ms;
}
#header .btn:hover .arr::before{
	transform: rotate(45deg);
}
#header .btn .arr::after{
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 12px;
	top: calc(50% - 1px);
	right: 0;
	background-color: #f00;
	transform: rotate(45deg);
	transition-duration: 200ms;
}
#header .special{
	display: inline-block;
	vertical-align: top;
}
#header .special-body{
	display: none;
}
#header .btn:hover .arr::after{
	transform: rotate(-45deg);
}
#header .logo{
	padding: 5px;
	height: 40px;
}
#header .logo img{
	height: 100%;
	/*animation: pulsing 2s infinite;*/
}
#header .logo:hover img{
	animation: pulsing 1s infinite;
}
#header .link{
	position: absolute;
	right: 30px;
	top: 10px;
}
#header .link .insta{
	margin-right: 10px;
	display: inline-block;
	height: 30px;
	width: 30px;
}
#header .link .bot{

	display: inline-block;
	height: 30px;
	width: 30px;
}
#content{
	position: relative;
	min-height: 100vh;
	background-color: black;
}
#content #block1{
 	position: relative;

}

#content #block1 .img{
	background-image: url("img/3.jpg");
	background-size: cover;
	height: 700px;
	width: 100%;
	z-index: 100;
	position: relative;


}
#content #block1 .shadow{

}
#content #block1 .img .text-big{
	font-size: 30px;
	z-index: 100;
	position: absolute;
	right: 50px;
	top: 400px;
	width: 310px;
	height: 210px;
	text-align: justify;
	color: black;
	background-color: darkgoldenrod;
	opacity: 0.7;
}
#content #block2{
	background-color: #212121;
	width: 100%;
	height: 600px ;
}
#content #block2 .text-big{
	font-size: 30px;
	z-index: 100;
	position: absolute;
	left: 30px;
	width: 100px;
	height: 100px;
	text-align: justify;
	color: darkgrey;
	margin-top: 90px;
}
#content #block2 .text-small{
	font-size: 30px;
	z-index: 100;
	position: absolute;
	margin-top: 200px;
	left: 30px;
	width: 500px;
	height: 100px;
	text-align: justify;
	color: darkgrey;
}
#content #block2 .img{
	background-image: url(img/3.jpg);
	height: 400px;
	width: 690px;
	background-size: cover;
	margin-left: 700px;
	position: absolute;
	margin-top: 100px;
	font-size: 0px;
}
#content #block2 .img .txt{
	background-color: gray;
	opacity: 0.8;
	height: 0;
	font-size: 0px;
	transition-duration: 1s;

}
#content #block2 .img .txt .txt1{
	font-size: 0px;

}
#content #block2 .img .txt .txt2{
	font-size: 0px;
}
#content #block2 .img:hover .txt{
	height: 15%;
}
#content #block2 .img:hover .txt1{
	font-size: 30px;
}
#content #block2 .img:hover .txt2{
	font-size: 15px;
}
#content #block3{
	margin-top: 10px;
	background-color: #282c36;
	height: 600px;
	width: 100%;
}

#content #block3 .text-big{
	font-size: 50px;
	z-index: 100;
	position: absolute;
	right: 30px;
	width: 300px;
	height: 100px;
	text-align: justify;
	color: darkgrey;
	margin-top: 50px;
}
#content #block3 .text-small{
	font-size: 30px;
	z-index: 100;
	position: absolute;
	margin-top: 140px;
	margin-left: 900px;
	width: 500px;
	height: 100px;
	text-align: justify;
	color: darkgrey;

}
#content #block3 .img{
	background-image: url(img/3.jpg);
	height: 400px;
	width: 690px;
	background-size: cover;
	margin-right: 500px;
	margin-top: 50px;
	position: absolute;
}

#content #block4{
	background-color: #111621 ;
	height: 600px;
	width: 100%;
	margin-top: 10px;
}
#content #block4 .text-big{
	margin-top: 100px;
	font-size: 50px;
	z-index: 100;
	position: absolute;
	left: 30px;
	width: 300px;
	height: 100px;
	text-align: justify;
	color: darkgrey;
}
#content #block4 .text-small{
	font-size: 30px;
	z-index: 100;
	position: absolute;
	margin-top: 240px;
	left: 30px;
	width: 500px;
	height: 100px;
	text-align: justify;
	color: darkgrey;
}
#content #block4 .img1{
	margin-top: 100px;
	background-image: url(img/3.jpg);
	height: 200px;
	width: 400px;
	position: absolute;
	background-size: cover;
	margin-left: 1000px;
}
#content #block4 .img2{
	background-image: url(img/3.jpg);
	height: 200px;
	width: 400px;
	position: absolute;
	background-size: cover;
	margin-top: 270px;
	margin-left: 620px;
}
#block5{
	background-image: linear-gradient(to bottom, #333, #111);
	text-align: center;
}
	#block5 .cards{
	padding: 30px;
	}
#block5 .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background-color: #111;
	width: 360px;
	height: 640px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	transition-duration: 500ms;
	}
#block5 .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 5px 15px #000;
	}
#block5 .card .img{
	width: 100%;
	height: 202px;
	background-size: cover;
	background-position: 50% 50%;
	}
#block5 .card1 .img{
		background-image: url("img/1.png");
	}
#block5 .card2 .img{
		background-image: url("img/1.png");
	}
#block5 .card3 .img{
		background-image: url("img/1.png");
	}
#block5 .card .text{
	width: 100%;
	height: calc(100% - 202px);
		box-shadow: 0 0 5px #333 inset;
	}
#block5 .card .text .name{
	padding: 20px;
	padding-top: 50px;
	font-size: 35px;
	font-family: font4;
		color: #fff;
	}
#block5 .card .text .main{
	padding: 20px;
	font-size: 25px;
	text-align: justify;
	color: #aaa;
		font-family: font5;
	}

#block6{

}
#block6 img{
	width: 100%;
	height: 300px;
}
.slides { 
	width: 100%; 
}

.slides-hidden {
 display : none; 
}

#block7{

}
#block7 video{
	width: 100%;
	height: 855px;


}
#block8{
	background-color: #40573d;
}
#block8 .gallery{
	max-width: 1200px;
	text-align: center;
	margin: auto;
}
#block8 .gallery .gallery-box{
	text-align: center;
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-size: cover;
	box-shadow: 0 0 100px #000 inset;
	background-position: 50% 20%;
	transition-duration: 200ms;
}
#block8 .gallery .gallery-box:hover{
	box-shadow: 0 0 0 #000 inset;
}
#block8 .gallery .gallery-box::after{
	content: "Call of Duty Gallery Element";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px;
	border-bottom-left-radius: 40px ;
	border-bottom-right-radius: 40px ;
	color:#fff;
	background-color: #222;
	font-size: 15px;
	z-index: 1;
	transform: scaleY(0);
}
#block8 .gallery .gallery-box:hover::after
{
	transform: scaleY(1) translateY(50%);
}
#block8 .gallery .gallery-box.img1{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/0.jpg);	
}
#block8 .gallery .gallery-box.img2{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/01.jpg);
}
#block8 .gallery .gallery-box.img3{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/48.jpg);
}
#block8 .gallery .gallery-box.img4{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/a4.jpg);
}
#block8 .gallery .gallery-box.img5{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/e.jpg);
}
#block8 .gallery .gallery-box.img6{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/ee.jpg);
}
#block8 .gallery .gallery-box.img7{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/fge.jpg);
}
#block8 .gallery .gallery-box.img8{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/26.jpg);
}
#block8 .gallery .gallery-box.img9{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/over.webp);
}
#block8 .gallery .gallery-box.img10{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/g.webp);
}
#block8 .gallery .gallery-box.img11{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/y.jpg);
}
#block8 .gallery .gallery-box.img12{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/rge.jpg);
}
#block8 .gallery .gallery-box.img13{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/2.webp);
}
#block9{
	background-image: linear-gradient(to bottom, #333, #111);
	text-align: center;
}
#block9 .cards{
	padding: 30px;
}
#block9 .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background-color: #111;
	width: 360px;
	height: 640px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	transition-duration: 500ms;
	}
#block9 .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 5px 15px #000;
	}
#block9 .card .img{
	width: 100%;
	height: 202px;
	background-size: cover;
	background-position: 50% 50%;
	}
#block9 .card1 .img{
		background-image: url("img/26.jpg");
	}
#block9 .card2 .img{
		background-image: url("img/26.jpg");
	}
#block9 .card3 .img{
		background-image: url("img/26.jpg");
	}
#block9 .card .text{
	width: 100%;
	height: calc(100% - 202px);
		box-shadow: 0 0 5px #333 inset;
	}
#block9 .card .text .name{
	padding: 20px;
	padding-top: 50px;
	font-size: 35px;
	font-family: font4;
		color: #fff;
	}
#block9 .card .text .main{
	padding: 20px;
	font-size: 25px;
	text-align: justify;
	color: #aaa;
		font-family: font5;
	}
#block10{
	background-color: #40573d;
}
#block10 .gallery{
	max-width: 1200px;
	text-align: center;
	margin: auto;
}
#block10 .gallery .gallery-box{
	text-align: center;
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-size: cover;
	box-shadow: 0 0 100px #000 inset;
	background-position: 50% 20%;
	transition-duration: 200ms;
}
#block10 .gallery .gallery-box:hover{
	box-shadow: 0 0 0 #000 inset;
}
#block10 .gallery .gallery-box::after{
	content: "Hitman Gallery Element";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px;
	border-bottom-left-radius: 40px ;
	border-bottom-right-radius: 40px ;
	color:#fff;
	background-color: #222;
	font-size: 15px;
	z-index: 1;
	transform: scaleY(0);
}
#block10 .gallery .gallery-box:hover::after
{
	transform: scaleY(1) translateY(50%);
}
#block10 .gallery .gallery-box.img1{
	background-image: url(f.jpg);
	background-position: 80% 20%;	
}
#block10 .gallery .gallery-box.img2{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/54.jpg);
}
#block10 .gallery .gallery-box.img3{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/90.jpg);
}
#block10 .gallery .gallery-box.img4{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/an.jpg);
}
#block10 .gallery .gallery-box.img5{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/er.jpg);
}
#block10 .gallery .gallery-box.img6{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/t.jpg);
}
#block10 .gallery .gallery-box.img7{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/x.jpg);
}
#block10 .gallery .gallery-box.img8{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/j.jpg);
}
#block10 .gallery .gallery-box.img9{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/an.webp);
}
#block10 .gallery .gallery-box.img10{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/k.jpg);
}
#block10 .gallery .gallery-box.img11{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/m.png);
}
#block10 .gallery .gallery-box.img12{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/mv.jpg);
}
#block10 .gallery .gallery-box.img13{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/nt.jpg);
}
#block11{
	background-image: linear-gradient(to bottom, #333, #111);
	text-align: center;
}
#block11 .cards{
	padding: 30px;
}
#block11 .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background-color: #111;
	width: 360px;
	height: 640px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	transition-duration: 500ms;
	}
#block11 .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 5px 15px #000;
	}
#block11 .card .img{
	width: 100%;
	height: 202px;
	background-size: cover;
	background-position: 50% 50%;
	}
#block11 .card1 .img{
		background-image: url("img/j.jpg");
	}
#block11 .card2 .img{
		background-image: url("img/j.jpg");
	}
#block11 .card3 .img{
		background-image: url("img/j.jpg");
	}
#block11 .card .text{
	width: 100%;
	height: calc(100% - 202px);
		box-shadow: 0 0 5px #333 inset;
	}
#block11 .card .text .name{
	padding: 20px;
	padding-top: 50px;
	font-size: 35px;
	font-family: font4;
		color: #fff;
	}
#block11 .card .text .main{
	padding: 20px;
	font-size: 25px;
	text-align: justify;
	color: #aaa;
		font-family: font5;
	}
#block12a{

}
#block12a img{
	width: 100%;
	height: 300px;
}
.slides { 
	width: 100%; 
}

.slides-hidden {
 display : none; 
}

#block12{

}
#block12 video{
	width: 100%;
	height: 855px;


}
#block13{
	background-color: #40573d;
}
#block13 .gallery{
	max-width: 1200px;
	text-align: center;
	margin: auto;
}
#block13 .gallery .gallery-box{
	text-align: center;
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-size: cover;
	box-shadow: 0 0 100px #000 inset;
	background-position: 50% 20%;
	transition-duration: 200ms;
}
#block13 .gallery .gallery-box:hover{
	box-shadow: 0 0 0 #000 inset;
}
#block13 .gallery .gallery-box::after{
	content: "Call of Duty Gallery Element";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px;
	border-bottom-left-radius: 40px ;
	border-bottom-right-radius: 40px ;
	color:#fff;
	background-color: #222;
	font-size: 15px;
	z-index: 1;
	transform: scaleY(0);
}
#block13 .gallery .gallery-box:hover::after
{
	transform: scaleY(1) translateY(50%);
}
#block13 .gallery .gallery-box.img1{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/ww5.jpg);	
}
#block13 .gallery .gallery-box.img2{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/4.jpg);
}
#block13 .gallery .gallery-box.img3{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/12.jpg);
}
#block13 .gallery .gallery-box.img4{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img/1.webp);
}
#block13 .gallery .gallery-box.img5{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w.jpg);
}
#block13 .gallery .gallery-box.img6{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w1.jpg);
}
#block13 .gallery .gallery-box.img7{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w2.webp);
}
#block13 .gallery .gallery-box.img8{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w3.jpg);
}
#block13 .gallery .gallery-box.img9{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w4.jpg);
}
#block13 .gallery .gallery-box.img10{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w7.jpg);
}
#block13 .gallery .gallery-box.img11{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w8.jpg);
}
#block13 .gallery .gallery-box.img12{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w9.jpg);
}
#block13 .gallery .gallery-box.img13{
background-image: url(C:/Users/User/Desktop/Кирилл/html/FINAL/img2/w10.jpg);
}
#block14{
	background-image: linear-gradient(to bottom, #333, #111);
	text-align: center;
}
#block14.cards{
	padding: 30px;
}
#block14 .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background-color: #111;
	width: 360px;
	height: 640px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	transition-duration: 500ms;
	}
#block14 .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 5px 15px #000;
	}
#block14 .card .img{
	width: 100%;
	height: 202px;
	background-size: cover;
	background-position: 50% 50%;
	}
#block14 .card1 .img{
		background-image: url("img/n.jpg");
	}
#block14 .card2 .img{
		background-image: url("img/n.jpg");
	}
#block14 .card3 .img{
		background-image: url("img/n.jpg");
	}
#block14 .card .text{
	width: 100%;
	height: calc(100% - 202px);
		box-shadow: 0 0 5px #333 inset;
	}
#block14 .card .text .name{
	padding: 20px;
	padding-top: 50px;
	font-size: 35px;
	font-family: font4;
		color: #fff;
	}
#block14 .card .text .main{
	padding: 20px;
	font-size: 25px;
	text-align: justify;
	color: #aaa;
		font-family: font5;
	}
#footer{
	background-color: darkgrey;
	font-size: 15px;
	width: 100%;
	height: 20px;
	position: relative;
	z-index: 10;
	text-align: center;
	}


@media (max-width: 1440px){
	#header{
		width: 100%;
	}
	#header .link{
	position: absolute;
	right: 30px;
	top: 10px;
	}
	#header .link .insta{
		margin-right: 10px;
		display: inline-block;
		height: 30px;
		width: 30px;
	}
	#header .link .bot{

		display: inline-block;
		height: 30px;
		width: 30px;
	}

	#content #block2{
		background-color: #212121;
		width: 100%;
		height: 400px ;
		}
	#content #block2 .text-big{
		font-size: 30px;
		z-index: 100;
		position: absolute;
		left: 30px;
		width: 100px;
		height: 100px;
		text-align: justify;
		color: darkgrey;
		margin-top: 100px;
	}
	#content #block2 .text-small{
		font-size: 20px;
		z-index: 100;
		position: absolute;
		margin-top: 180px;
		left: 70px;
		width: 300px;
		height: 200px;
		text-align: justify;
		color: darkgrey;
	}
	#content #block2 .img{
		background-image: url(img/3.jpg);
		height: 200px;
		width: 290px;
		background-size: cover;
		margin-left: 600px;
		position: absolute;
		margin-top:150px;
		font-size: 0px;
	}
	#content #block2 .img .txt{
		background-color: gray;
		opacity: 0.8;
		height: 0;
		font-size: 0px;
		transition-duration: 1s;

	}
	#content #block2 .img .txt .txt1{
		font-size: 0px;

	}
	#content #block2 .img .txt .txt2{
		font-size: 0px;
	}
	#content #block2 .img:hover .txt{
		height: 16%;
	}
	#content #block2 .img:hover .txt1{
		font-size: 20px;
	}
	#content #block2 .img:hover .txt2{
		font-size: 10px;
	}
	#content #block3{
		margin-top: 10px;
		background-color: #282c36;
		height: 400px;
		width: 100%;
	}

	#content #block3 .text-big{
		font-size: 30px;
		z-index: 100;
		position: absolute;
		left: 30px;
		width: 300px;
		height: 100px;
		text-align: justify;
		color: darkgrey;
		margin-top: 100px;
	}
	#content #block3 .text-small{
		font-size: 20px;
		z-index: 100;
		position: absolute;
		margin-top: 150px;
		margin-left: 70px;
		width: 300px;
		height: 50px;
		text-align: justify;
		color: darkgrey;

	}
	#content #block3 .img{
		background-image: url(img/3.jpg);
		height: 200px;
		width: 290px;
		background-size: cover;
		margin-left: 600px;
		margin-top: 160px;
		position: absolute;
	}
	#content #block4{
		background-color: #111621 ;
		height: 400px;
		width: 100%;
		margin-top: 10px;
	}
	#content #block4 .text-big{
		margin-top: 50px;
		font-size: 30px;
		z-index: 100;
		position: absolute;
		left: 30px;
		width: 300px;
		height: 100px;
		text-align: justify;
		color: darkgrey;
	}
	#content #block4 .text-small{
		font-size: 20px;
		z-index: 100;
		position: absolute;
		margin-top: 90px;
		left: 70px;
		width: 300px;
		height: 130px;
		text-align: justify;
		color: darkgrey;
	}
	#content #block4 .img1{
		margin-top: 220px;
		background-image: url(img/3.jpg);
		height: 100px;
		width: 200px;
		position: absolute;
		background-size: cover;
		margin-left: 700px;
	}
	#content #block4 .img2{
		background-image: url(img/3.jpg);
		height: 100px;
		width: 200px;
		position: absolute;
		background-size: cover;
		margin-top: 1 40px;
		margin-left: 520px;
	}
	#block7{

	}
	#block7 video{
		width: 100%;
		height: 560px;


	}
	#block12{

	}
	#block12 video{
		width: 100%;
		height: 580px;


	}